<style>
    table, tr, th, td {
        border: 1px solid black;
        color: black;
    }
    th, td {
        background-color: lightgray;
    }
    table {
        background-color: gray;
    }
    body {
        color: lightgray;
        background-color: black;
    }
    #visual {
        height: 150px;
        width: 400px;
        background-color: darkgray;
    }
</style>

<h2>Adventure Time</h2>
<p>Adventure Statics</p>
<table>
    <tr>
        <th>ID</th>
        <th>Atk</th>
        <th>Def</th>
        <th>HP</th>
        <th>Magic</th>
    </tr>
<% for (var x in stats) { %>
    <tr>
        <td><%= stats[x].id %></td>
        <td><%= stats[x].atk %></td>
        <td><%= stats[x].def %></td>
        <td><%= stats[x].hp %></td>
        <td><%= stats[x].mgc %></td>
    </tr>
<% } %>
</table>
<table>
    <tr>
        <th>Atk</th>
        <th>Def</th>
        <th>HP</th>
        <th>Magic</th>
    </tr>
    <form method='post' action='/users'>
        <tr>
            <td><input type='text' name='atk'></td>
            <td><input type='text' name='def'></td>
            <td><input type='text' name='hp'></td>
            <td><input type='text' name='mgc'></td>
        </tr>
        <tr>
            <th>Factor1</th>
            <th>Factor2</th>
            <th>Factor3</th>
            <th>Factor4</th>
        </tr>
        <tr>
            <td><input type='number' name='fac1'></td>
            <td><input type='number' name='fac2'></td>
            <td><input type='number' name='fac3'></td>
            <td><input type='number' name='fac4'></td>
        </tr><br>
        <button>Attack</button>
    </form>
</table><br>
<div id="visual">
    <svg>
        <polyline id="pl" points="36,20 40,45 60,35 80,10" style="fill:none;stroke:blue;stroke-width:3" />
        <polyline id="atk" points="
        <% for (var p in points) { %>
            <%= p*10 %>,<%= points[p] %>
        <% } %>
        " style="fill:none;stroke:red;stroke-width:3" />
    </svg>
</div>